@import "null.css";
/* ============================================================================================================================= */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

.main {
	font-family: "Lato", sans-serif;
	color: #1E212C;
	font-style: normal;
}
.title {
	font-size: 46px;
	font-weight: 900;
	line-height: 130%;

}
.text700 {
	font-size: 20px;
	font-weight: 700;
	line-height: 150%;
}
.text400,
.list {
	font-size: 16px;
	font-weight: 400;
	line-height: 160%;
	color: #424551;
}